@mixin add-background($color){
	background:$color;
	@if $color == $black{
		color:$white;
	} @elseif $color == $white{
		color:$black;
	} @elseif $color == $purple{
		color:$white;
	} @elseif $color == $grey{
		color:$white;
	} @elseif $color == $blue{
		color:$white;
	}
}