a{
	color:$white;}
	
a:hover{
	color:$grey;}		

p{
	text-align:justify;}
	

/*facebook icon only*/
	
.fa-facebook{
	margin-left:3px;
	}
	
	
h1, h2{
	padding:$padding;
	text-align:$center;}
	
h3{
padding:$padding;}

.images h2{
	padding:$image-padding;}
	
@media screen and (max-width: 600px){

.refine{
display:none;}
}

.client-header{
padding:200px 0;}